@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@font-face {
  font-family: pokeFont;
  src: url("/src/assets/PokemonGB.ttf") format("truetype");
}

body {
  background: url("/pokemon-bg.png") no-repeat center center fixed;
  background-size: cover;
  font-family: "Press Start 2P";
  min-height: 100vh;
}
